#  01 - Getting news content

We proceed to extract the content of the links previously obtained.

In [1]:
# libraries
import pandas as pd
import os
from newspaper import Article
from newspaper import Config
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:78.0) Gecko/20100101 Firefox/78.0'
config = Config()
config.browser_user_agent = user_agent
import re

In [2]:
# Global definitions
directory_path = os.getcwd()

# Get info news

In [3]:
path_csv = directory_path + "/dat/00_newsWebScrapping.csv"
df = pd.read_csv(path_csv, encoding = "cp1252", header = None,
  sep = ',',
  names = ['link'], on_bad_lines='warn')

In [4]:
df

                                                  link
0    https://www.cbc.ca/news/science/naming-heat-wa...
1    https://www.dw.com/en/germany-battles-heat-wav...
2    https://www.foxweather.com/weather-news/heat-w...
3    https://www.usatoday.com/story/news/nation/202...
4    https://www.grid.news/story/climate/2022/08/09...
..                                                 ...
560  https://theconversation.com/heatwaves-worsen-m...
561  https://www.timesofisrael.com/heatwaves-kill-s...
562  https://www.bbc.com/news/science-environment-6...
563  https://www.bbc.com/future/article/20220701-ho...
564  https://www.scientificamerican.com/article/sev...

[565 rows x 1 columns]

In [5]:
df = df.drop_duplicates()

In [6]:
df

                                                  link
0    https://www.cbc.ca/news/science/naming-heat-wa...
1    https://www.dw.com/en/germany-battles-heat-wav...
2    https://www.foxweather.com/weather-news/heat-w...
3    https://www.usatoday.com/story/news/nation/202...
4    https://www.grid.news/story/climate/2022/08/09...
..                                                 ...
554  https://www.dw.com/en/climate-crisis-heat-baby...
555  https://www.gov.uk/government/publications/hea...
557  https://www.ft.com/content/48f20f75-92aa-40d5-...
558  https://theconversation.com/a-climate-scientis...
559  https://scitechdaily.com/most-extreme-heatwave...

[484 rows x 1 columns]

In [7]:
df1 = pd.DataFrame([])

In [8]:
for index, row in df.iterrows():
    url = row['link']
    url = re.sub(r"\s+", "", url)
    article = Article(url)
    try:
        article.download()
        article.parse()
        article.nlp()
        vector = [url, article.title, article.text, article.keywords, article.summary]
        vector = pd.DataFrame(vector).transpose()
        df1 = pd.concat([df1,vector])
    except:
        continue

C:\Users\anama\anaconda3\envs\MDA\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
C:\Users\anama\anaconda3\envs\MDA\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname IST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [9]:
df1.columns = ['link', 'title', 'text', 'keywords', 'summary']

In [10]:
df1

,link,title,text,keywords,summary
0,https://www.cbc.ca/news/science/naming-heat-wa...,International project to name heat waves met w...,"As climate change makes heat waves worse, an i...","[waves, heat, skepticism, wave, think, naming,...","As climate change makes heat waves worse, an i..."
0,https://www.dw.com/en/germany-battles-heat-wav...,Germany battles heat waves with drinking water...,At the drinking fountain outside Berlin's busy...,"[tap, waves, heat, water, fountains, public, f...","""It can only be a good thing to have more drin..."
0,https://www.foxweather.com/weather-news/heat-w...,Streaking in the 90s: Cities across US set rec...,An extended heat wave gripping the Northeast o...,"[waves, heat, records, streaking, days, record...",An extended heat wave gripping the Northeast o...
0,https://www.usatoday.com/story/news/nation/202...,Weather forecast: Heat waves may now get names...,"This summer, Seville, a city in southwestern S...","[waves, heat, olalla, wave, forecast, spain, w...","This summer, Seville, a city in southwestern S..."
0,https://www.grid.news/story/climate/2022/08/09...,Extreme heat waves show the ultimate climate i...,The road to an unlivable climate isn’t exactly...,"[waves, heat, thought, wetbulb, unworkable, li...",The road to an unlivable climate isn’t exactly...
...,...,...,...,...,...
0,https://www.dw.com/en/climate-crisis-heat-baby...,Indian heatwaves threaten maternal and baby he...,The heatwave that swept across South Asia in A...,"[baby, heat, health, india, indian, temperatur...",With climate change exacerbating extreme heat ...
0,https://www.gov.uk/government/publications/hea...,Looking after children and those in early year...,Children’s susceptibility to high temperatures...,"[high, heat, water, temperature, school, child...",Children’s susceptibility to high temperatures...
0,https://www.ft.com/content/48f20f75-92aa-40d5-...,Subscribe to read,Pay based on use\n\nGet Started\n\nPurchase a ...,"[enterprise, ends, subscribe, startedpurchase,...",Pay based on useGet StartedPurchase a Team or ...
0,https://theconversation.com/a-climate-scientis...,A climate scientist on India and Pakistan’s ho...,The record-shattering heatwave that engulfed m...,"[pollution, better, india, quality, air, surpr...",This is particularly dire for India and Pakist...
0,https://scitechdaily.com/most-extreme-heatwave...,Most Extreme Heatwaves Ever Recorded Globally ...,A new research study has revealed the most int...,"[c, research, university, climate, local, west...",A new research study has revealed the most int...

In [11]:
df1.to_excel(directory_path + "/dat/01_newsContent.xlsx")