#  01 - Getting news content

We proceed to extract the content of the links previously obtained.

In [1]:
# libraries
import pandas as pd
import os
from newspaper import Article
from newspaper import Config
user_agent = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:78.0) Gecko/20100101 Firefox/78.0'
config = Config()
config.browser_user_agent = user_agent
import re

In [2]:
# Global definitions
directory_path = os.getcwd()

# Get info news

In [3]:
path_csv = directory_path + "/dat/00_newsWebScrapping.csv"
df = pd.read_csv(path_csv, encoding = "cp1252", header = None,
  sep = ',',
  names = ['link'], on_bad_lines='warn')

In [5]:
df = df.drop_duplicates()

In [4]:
df1 = pd.DataFrame([])

In [6]:
for index, row in df.iterrows():
    url = row['link']
    url = re.sub(r"\s+", "", url)
    article = Article(url)
    try:
        article.download()
        article.parse()
        article.nlp()
        vector = [url, article.title, article.text, article.keywords, article.summary]
        vector = pd.DataFrame(vector).transpose()
        df1 = pd.concat([df1,vector])
    except:
        continue

C:\Users\anama\anaconda3\envs\MDA\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname PDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
C:\Users\anama\anaconda3\envs\MDA\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname IST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [7]:
df1.columns = ['link', 'title', 'text', 'keywords', 'summary']

In [8]:
df1

,link,title,text,keywords,publish_date,summary
0,https://www.cbc.ca/news/science/naming-heat-wa...,International project to name heat waves met w...,"As climate change makes heat waves worse, an i...","[world, intrigue, project, international, skep...",NaT,"As climate change makes heat waves worse, an i..."
0,https://www.dw.com/en/germany-battles-heat-wav...,Germany battles heat waves with drinking water...,At the drinking fountain outside Berlin's busy...,"[water, fountains, tap, fountain, bottles, bat...",NaT,"""It can only be a good thing to have more drin..."
0,https://www.foxweather.com/weather-news/heat-w...,Streaking in the 90s: Cities across US set rec...,An extended heat wave gripping the Northeast o...,"[90, days, degrees, set, record, streaking, he...",NaT,An extended heat wave gripping the Northeast o...
0,https://www.usatoday.com/story/news/nation/202...,Weather forecast: Heat waves may now get names...,"This summer, Seville, a city in southwestern S...","[temperatures, forecast, olalla, degrees, name...",2022-08-13 00:00:00,"This summer, Seville, a city in southwestern S..."
0,https://www.grid.news/story/climate/2022/08/09...,Extreme heat waves show the ultimate climate i...,The road to an unlivable climate isn’t exactly...,"[temperatures, thought, extreme, degrees, wetb...",2022-08-09 00:00:00,The road to an unlivable climate isn’t exactly...
...,...,...,...,...,...,...
0,https://www.dw.com/en/climate-crisis-heat-baby...,Indian heatwaves threaten maternal and baby he...,The heatwave that swept across South Asia in A...,"[temperatures, india, hospital, heatwaves, hea...",None,With climate change exacerbating extreme heat ...
0,https://www.gov.uk/government/publications/hea...,Looking after children and those in early year...,Children’s susceptibility to high temperatures...,"[temperatures, looking, professionals, heatwav...",None,Children’s susceptibility to high temperatures...
0,https://www.ft.com/content/48f20f75-92aa-40d5-...,Subscribe to read,Cookies on FT Sites\n\nWe use cookies for a nu...,"[reasons, read, providing, secure, social, sub...",None,Cookies on FT SitesWe use cookies for a number...
0,https://theconversation.com/a-climate-scientis...,A climate scientist on India and Pakistan’s ho...,The record-shattering heatwave that engulfed m...,"[india, temperatures, pakistan, days, heatwave...",2022-05-06 03:57:10+00:00,This is particularly dire for India and Pakist...
0,https://scitechdaily.com/most-extreme-heatwave...,Most Extreme Heatwaves Ever Recorded Globally ...,A new research study has revealed the most int...,"[recorded, extreme, revealed, heatwaves, resea...",2022-05-07 02:36:39-07:00,A new research study has revealed the most int...

In [9]:
df1.to_excel(directory_path + "/dat/01_newsContent.xlsx")

ValueError: Excel does not support datetimes with timezones. Please ensure that datetimes are timezone unaware before writing to Excel.